<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--ключивые слова для поискового робота (если это сайт про автобобили то пишем в контенте слова типа: марки автомобилей, обзор автомобилей и т.д.)-->
    <meta name="keqwords" content="test, site, website" />
    <!--кодировка сайта-->
    <meta http-equiv="Content-Type" content="text/html; UTF-8" />
    <!--Описание сайта-->
    <meta name="description" content="Описание сайта" />
    <!--подключение css-->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!--Иконка сайта-->
    <link href="image/icon/home.ico" rel="shortcut icon" type="imag/x-icon" />
    <title>Шабон главной страницы</title>
    <!--Название страницы-->
  </head>
  <body>
    <!--данный блок нужен, чтобы footer был прикреплен к низу сайта. В него мы помещаем шапку сайта-->
    <div id="page-wrap">
      <!--Шапка сайта-->
      <header>
        <a href="index.html" title="На главную" id="logo">Test-site</a>
        <span class="contact">
          <a href="about.html" title="Информация о нас">О нас</a></span
        >
        <input type="text" class="field" placeholder="Давай помогу найти" />
        <span class="right">
          <span class="contact">
            <a href="reg.html" title="Зарегистрироваться">Регистрация</a></span
          >
          <span class="contact">
            <a href="auth.html" title="Войти">Вход</a></span
          >
        </span>
      </header>
      <div class="clear"><br /></div>
      <!--отступ над меню-->
      <!--Меню-->
      <center>
        <div id="menu">
          Разделы
          <hr />
        </div>
        <!--Ссылки меню-->
        <div id="menuHref">
          <a href="about.html">О нас</a>
          <a href="feedback.html">Обратная связь</a>
          <a href="prodaction.html">Продукция</a>
          <a href="clients.html">Клиенты</a>
        </div>
      </center>
      <!--Анонсы-->
      <div id="wrapper">
        <!--Родительский блок анонсов-->
        <div id="articles">
          <!--Сами статьи-->
          <article>
            <img src="image/camel.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/cat.png" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/mona.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
        </div>
        <div class="clear">
          <!--Пустая строка-->
          <!--Центральная панель-->
          <div id="soc-block">
            <center>
              <div id="soc-block_in">
                <h3>Регистрируйтесь на сайте</h3>
                <p>Только у нас лучшие товары, бла-бла-бла</p>
                <a href="reg.html" title="Регистрируйтесь">Регистрируйтесь</a>
              </div>
            </center>
          </div>
        </div>
        <!--Еще статьи-->
        <div class="clear"><br /></div>
        <div id="articles">
          <!--Сами статьи-->
          <article>
            <img src="image/camel.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/cat.png" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/mona.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
        </div>
        <div id="articles">
          <!--И ЕЩЕ СТАТЬИ-->
          <div class="clear"><br /></div>
          <!--Сами статьи-->
          <article>
            <img src="image/camel.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/cat.png" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
          <article>
            <img src="image/mona.jpg" alt="Изображение" title="Изображение" />
            <h2>Заголовок</h2>
            <p>
              Здесь находится вступительный текст Здесь находится вступительный
              текст Здесь находится вступительный текст Здесь находится
              вступительный текст Здесь находится вступительный текст Здесь
              находится вступительный текст Здесь находится вступительный текст
              Здесь находится вступительный текст
            </p>
            <a href="article1.html" title="Посмотреть статью"> Читать далее</a>
          </article>
        </div>
      </div>
    </div>
    <!--Низ сайта-->
    <footer>
      <span class="left">Все права защищены &copy; 2019</span>
      <span class="right"
        >Соц. кнопки
        <a href="https://vk.com/hukkuma" target="_blank"
          ><img
            src="image/VK.png"
            alt="Группа Вконакте"
            title="Группа Вконакте"/></a
      ></span>
    </footer>
  </body>
</html>
